version: '3'

services:
  node:
    container_name: vue-app-example-node
    image: instrumentisto/vue-app-example:dev
    build: .
    expose:
      - "8080"     # express
    volumes:
      - ./:/app
  nginx:
    container_name: vue-app-example-nginx
    image: nginx:stable-alpine
    depends_on:
      - node
    command: /bin/sh -c "sed -i -r 's/^user .*$$/user nobody;/g'
                             /etc/nginx/nginx.conf
                         && nginx -g 'daemon off;'"
    ports:
      - "80:80"    # http
    volumes:
      - ./_build/:/var/www/public:ro
      - ./.dev/nginx/vhost.conf:/etc/nginx/conf.d/default.conf:ro
