@require '~themes/default/main'

main
  padding-top: 51px
  padding-bottom: 20px
  > section
    width: 400px
    margin: 0 auto
    text-align: center

footer
  position: absolute
  bottom: 0
  height: 52px
  width: 100%
  padding: 10px
  border-top: 1px solid #e7e7e7
  background-color: #f8f8f8
  line-height: 32px

.fade-enter-active,
.fade-leave-active
  transition: opacity .5s

.fade-enter,
.fade-leave-to
  opacity: 0
